<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rxusagi.myapplication" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SetAlarmActivity"
            android:label="@string/title_activity_set_alarm"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".SettingActivity"
            android:label="@string/title_activity_setting"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".WorkingDay"
            android:label="@string/title_activity_working_day"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".SetPeriodActivity"
            android:label="@string/title_activity_set_period"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".StartOfficeActivity"
            android:label="@string/title_activity_start_office"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".EndOfficeActivity"
            android:label="@string/title_activity_end_office"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <receiver android:name=".model.InstructionReceiver" />

        <activity
            android:name=".ReceiverInstruction"
            android:label="@string/title_activity_receiver_instruction"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Accept_Reject"
            android:label="@string/title_activity_accept__reject"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".EditProfile"
            android:label="@string/title_activity_edit_profile"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".FriendActivity"
            android:label="@string/title_activity_friend"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".FriendProfile"
            android:label="@string/title_activity_friend_profile"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".EventActivity"
            android:label="@string/title_activity_event"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
